1. <h2> count the great circle distance between each market and each weather station </h2>
1. <h2> choose the closest weather station  for every market </h2>

In [ ]:
import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [51]:
import pandas as pd

market = pd.read_csv("./csv/market.csv")
weathrt_station = pd.read_csv("./csv/weather_station.csv")
market

   market        lat         log
0     台北二  25.067444  121.534998
1     台北一  25.028845  121.488478
2     桃　農  24.993532  121.296463
3     豐原區  24.252869  120.702362
4     永靖鄉  23.922914  120.557385
5     溪湖鎮  23.957055  120.483952
6     南投市  23.910205  120.686398
7     西螺鎮  23.792636  120.446901
8     高雄市  22.660530  120.320902
9     鳳山區  22.660704  120.320902
10    屏東市  22.660990  120.320902
11    宜蘭市  24.738743  121.774451
12    板橋區  25.020075  121.449195
13    花蓮市  23.984173  121.583727
14    台中市  24.199299  120.657601
15    台東市  22.770903  121.135921
16    三重區  25.065010  121.416891

In [52]:
weathrt_station

    station_number  staion      lat       log
0           466850  五分山雷達站  25.0712  121.7812
1           466880      板橋  24.9976  121.4420
2           466900      淡水  25.1649  121.4489
3           466910      鞍部  25.1826  121.5297
4           466920      臺北  25.0377  121.5149
5           466930     竹子湖  25.1621  121.5445
6           466940      基隆  25.1333  121.7405
7           466950     彭佳嶼  25.6280  122.0797
8           466990      花蓮  23.9751  121.6133
9           467050      新屋  25.0067  121.0475
10          467060      蘇澳  24.5967  121.8574
11          467080      宜蘭  24.7640  121.7565
12          467110      金門  24.4073  118.2893
13          467300     東吉島  23.2570  119.6675
14          467350      澎湖  23.5655  119.5631
15          467410      臺南  22.9932  120.2048
16          467420      永康  23.0384  120.2367
17          467440      高雄  22.5660  120.3157
18          467480      嘉義  23.4959  120.4329
19          467490      臺中  24.1457  120.6841
20          467530     阿里山  23.5082  120.8132
21          467540      大武  22.3557  120.9038
22          467550      玉山  23.4876  120.9595
23          467571      新竹  24.8279  121.0142
24          467590      恆春  22.0039  120.7463
25          467610      成功  23.0975  121.3734
26          467620      蘭嶼  22.0370  121.5583
27          467650     日月潭  23.8813  120.9081
28          467660      臺東  22.7522  121.1546
29          467770      梧棲  24.2560  120.5234
30          467790   墾丁雷達站  21.9482  120.8080
31          467990      馬祖  26.1693  119.9234

In [53]:
market_list = list(zip(market["lat"].tolist(), market["log"].tolist()))
weathrt_list = list(zip(weathrt_station["lat"].tolist(), weathrt_station["log"].tolist()))
weathrt_station["latlog"] = weathrt_list
market["latlog"] = market_list

In [54]:
def compare(location):
    temp = []
    for value in weathrt_station["latlog"]:
        d = distance(location, value)
        temp.append(d)
    _min = min(temp)
    index = temp.index(_min)
    return [weathrt_station["staion"].iloc[index], weathrt_station["station_number"].iloc[index], _min]

In [55]:
match = pd.DataFrame(market["latlog"].apply(compare).tolist(), columns=["weather_station", "weather_station_number", "distance"])
match

   weather_station  weather_station_number   distance
0               臺北                  466920   3.877816
1               臺北                  466920   2.838249
2               板橋                  466880  14.674311
3               臺中                  467490  12.059777
4               臺中                  467490  27.915603
5               臺中                  467490  29.206869
6              日月潭                  467650  22.767028
7               嘉義                  467480  33.026378
8               高雄                  467440  10.524780
9               高雄                  467440  10.544103
10              高雄                  467440  10.575907
11              宜蘭                  467080   3.342599
12              板橋                  466880   2.602187
13              花蓮                  466990   3.169373
14              臺中                  467490   6.538152
15              臺東                  467660   2.827218
16              板橋                  466880   7.910988

In [56]:
result = pd.concat([market["market"], match], axis=1)

In [64]:
#result = result.drop("latlog", axis=1)
result

   market weather_station  weather_station_number   distance
0     台北二              臺北                  466920   3.877816
1     台北一              臺北                  466920   2.838249
2     桃　農              板橋                  466880  14.674311
3     豐原區              臺中                  467490  12.059777
4     永靖鄉              臺中                  467490  27.915603
5     溪湖鎮              臺中                  467490  29.206869
6     南投市             日月潭                  467650  22.767028
7     西螺鎮              嘉義                  467480  33.026378
8     高雄市              高雄                  467440  10.524780
9     鳳山區              高雄                  467440  10.544103
10    屏東市              高雄                  467440  10.575907
11    宜蘭市              宜蘭                  467080   3.342599
12    板橋區              板橋                  466880   2.602187
13    花蓮市              花蓮                  466990   3.169373
14    台中市              臺中                  467490   6.538152
15    台東市              臺東                  467660   2.827218
16    三重區              板橋                  466880   7.910988

In [65]:
import sqlalchemy

engine = sqlalchemy.create_engine("mysql+pymysql://root:pythonetl@127.0.0.1:3306/?charset=utf8mb4")
#engine.execute("CREATE DATABASE Agriculture CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
engine.execute("USE Agriculture;")
result.to_sql("compare", engine, if_exists='append', index=False)

/home/matt/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)